html, body {
	padding: 0px;
	margin: 0px;
	top: 0px;
	left: 0px;
}

#mapContainer {
	position: relative;
	height: 360px;
}

#map {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

#search {
	position: absolute;
	z-index: 2;
	top: 20px;
	left: 74px;
}

#BasemapToggle {
	z-index: 50;
	position: absolute;
	height: 79px;
	width: 79px;
	top: 20px;
	right: 20px;
}

#legend {
	background-color: #fff;
	position: absolute !important;
	z-index: 99;
	top: 10px;
	right: 20px;
}

#messages {
	background-color: #fff;
	box-shadow: 0 0 5px #888;
	font-size: 1.1em;
	max-width: 15em;
	padding: 0.5em;
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 40;
}